.container {
    background-color: rgb(223, 235, 217);
  }
  
  .heading {
    color: black;
  }
  
  .label-game-code {
    color: black;
  }
  
  .input-game-code {
    color: black;
    background-color: white;
  }
  
  .label-name {
    color: black;
  }
  
  .input-name {
    border-color: var(--first-color);
    background-color: white;
    color: black;
  }
  
  .button-join-game {
    background-color: #FFA500;
    color: black;
  }
*{
    font-family: var(--second-font);
}  